<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Charting" version="0.90.13" targetFramework="net452" />
  <package id="Microsoft.Research.MultiWorldTesting.ExploreLibrary" version="1.0.0.3" targetFramework="net452" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net452" />
  <package id="VowpalWabbit" version="8.0.0.45" targetFramework="net452" />
</packages>